@font-face {
    font-family: "EastSeaDokdo-Regular";
    src: url('/assets/font/EastSeaDokdo-Regular.ttf')format('truetype');
}

@font-face {
    font-family: 'NotoSansKR-Bold';
    src: url('/assets/font/NotoSansKR-Bold.otf') format('opentype');
}

@font-face {
    font-family: "NotoSansKR-Light";
    src: url('/assets/font/NotoSansKR-Light.otf') format('opentype');
}

@font-face {
    font-family: "NotoSansKR-Medium";
    src: url('/assets/font/NotoSansKR-Medium.otf') format('opentype');
}

@font-face {
    font-family: "NotoSansKR-Regular";
    src: url('/assets/font/NotoSansKR-Regular.otf') format('opentype');
}

.f1 {
    font-size: 3.5VW;
}
.f2 {
    font-size: 1VW;
}

.Dokdo{
    font-family:EastSeaDokdo-Regular;
}
.Noto {
    font-size: 0.8vw ;
    font-family: NotoSansKR-Regular !important;
    color: #5A5A5A ;
    
    
}
.NotoB{
    font-family:NotoSansKR-Bold;
}
.NotoL{
    font-family:NotoSansKR-Light;
}
.NotoM{
    font-family:NotoSansKR-Medium;
    
}